.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
    &:nth-child(1) {
      background: #bfffbc;
    }
    &:nth-child(2) {
      background: #b5d2cb;
    }
  }
}
